# **String Based Assignment Problem**

In [18]:
# Question 1: How do you reverse a string in Python?
def reverse_string(s):
    return s[::-1]

# Output:
print(reverse_string("hello"))  # Output: "olleh"

olleh

In [19]:
# Question 2: How can you check if a string is a palindrome in Python?
def is_palindrome(s):
    return s == s[::-1]

# Output:
print(is_palindrome("radar"))  # Output: True

True

In [20]:
# Question 3: How can you convert all characters in a string to uppercase?
def to_uppercase(s):
    return s.upper()

# Output:
print(to_uppercase("hello"))  # Output: "HELLO"

HELLO

In [21]:
# Question 4: How can you convert all characters in a string to lowercase?
def to_lowercase(s):
    return s.lower()

# Output:
print(to_lowercase("HELLO"))  # Output: "hello"

hello

In [22]:
# Question 5: How can you count the number of vowels in a given string?
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

# Output:
print(count_vowels("hello"))  # Output: 2

2

In [23]:
# Question 6: How can you count the number of consonants in a string?
def count_consonants(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char.isalpha() and char not in vowels)

# Output:
print(count_consonants("hello"))  # Output: 3

3

In [24]:
# Question 7: How do you remove all whitespace characters from a string?
def remove_whitespaces(s):
    return s.replace(" ", "")

# Output:
print(remove_whitespaces("hello world"))  # Output: "helloworld"

helloworld

In [25]:
# Question 8: How can you find the length of a string without using the `len()` function?
def string_length(s):
    count = 0
    for _ in s:
        count += 1
    return count

# Output:
print(string_length("hello"))  # Output: 5

5

In [26]:
# Question 9: How do you check if a string contains a specific word?
def contains_word(s, word):
    return word in s

# Output:
print(contains_word("hello world", "world"))  # Output: True

True

In [27]:
# Question 10: How do you replace a specific word in a string with another word?
def replace_word(s, old_word, new_word):
    return s.replace(old_word, new_word)

# Output:
print(replace_word("hello world", "world", "there"))  # Output: "hello there"

hello there

In [28]:
# Question 11: How can you count the occurrences of a specific word in a string?
def count_word_occurrences(s, word):
    return s.count(word)

# Output:
print(count_word_occurrences("hello world, hello", "hello"))  # Output: 2

2

In [29]:
# Question 12: How do you find the index of the first occurrence of a word in a string?
def find_first_occurrence(s, word):
    return s.find(word)

# Output:
print(find_first_occurrence("hello world", "world"))  # Output: 6

6

In [30]:
# Question 13: How do you find the index of the last occurrence of a word in a string?
def find_last_occurrence(s, word):
    return s.rfind(word)

# Output:
print(find_last_occurrence("hello world, hello", "hello"))  # Output: 13

13

In [31]:
# Question 14: How can you split a string into a list of words?
def split_string(s):
    return s.split()

# Output:
print(split_string("hello world"))  # Output: ["hello", "world"]

['hello', 'world']

In [32]:
# Question 15: How do you join a list of words into a single string?
def join_words(words):
    return " ".join(words)

# Output:
print(join_words(["hello", "world"]))  # Output: "hello world"

hello world

In [33]:
# Question 16: Convert a string where words are separated by spaces to one where words are separated by underscores.
def spaces_to_underscores(s):
    return s.replace(" ", "_")

# Output:
print(spaces_to_underscores("hello world"))  # Output: "hello_world"

hello_world

In [34]:
# Question 17: Check if a string starts with a specific word or phrase.
def starts_with(s, word):
    return s.startswith(word)

# Output:
print(starts_with("hello world", "hello"))  # Output: True

True

In [35]:
# Question 18: Check if a string ends with a specific word or phrase.
def ends_with(s, word):
    return s.endswith(word)

# Output:
print(ends_with("hello world", "world"))  # Output: True

True

In [36]:
# Question 19: Convert a string to title case (e.g., "hello world" to "Hello World").
def to_title_case(s):
    return s.title()

# Output:
print(to_title_case("hello world"))  # Output: "Hello World"

Hello World

In [37]:
# Question 20: Find the longest word in a string.
def find_longest_word(s):
    words = s.split()
    return max(words, key=len)

# Output:
print(find_longest_word("hello wonderful world"))  # Output: "wonderful"

wonderful

In [38]:
# Question 21: Find the shortest word in a string.
def find_shortest_word(s):
    words = s.split()
    return min(words, key=len)

# Output:
print(find_shortest_word("hello wonderful world"))  # Output: "hello"

hello

In [39]:
# Question 22: Reverse the order of words in a string.
def reverse_word_order(s):
    words = s.split()
    return " ".join(words[::-1])

# Output:
print(reverse_word_order("hello wonderful world"))  # Output: "world wonderful hello"

world wonderful hello

In [40]:
# Question 23: Check if a string is alphanumeric.
def is_alphanumeric(s):
    return s.isalnum()

# Output:
print(is_alphanumeric("hello123"))  # Output: True
print(is_alphanumeric("hello 123"))  # Output: False

True
False

In [41]:
# Question 24: Extract all digits from a string.
def extract_digits(s):
    return "".join(char for char in s if char.isdigit())

# Output:
print(extract_digits("hello123world456"))  # Output: "123456"

123456

In [42]:
# Question 25: Extract all alphabets from a string.
def extract_alphabets(s):
    return "".join(char for char in s if char.isalpha())

# Output:
print(extract_alphabets("hello123world456"))  # Output: "helloworld"

helloworld

In [43]:
# Question 26: Count the number of uppercase letters in a string.
def count_uppercase(s):
    return sum(1 for char in s if char.isupper())

# Output:
print(count_uppercase("Hello World"))  # Output: 2

2

In [44]:
# Question 27: Count the number of lowercase letters in a string.
def count_lowercase(s):
    return sum(1 for char in s if char.islower())

# Output:
print(count_lowercase("Hello World"))  # Output: 8

8

In [45]:
# Question 28: Swap the case of each character in a string.
def swap_case(s):
    return s.swapcase()

# Output:
print(swap_case("Hello World"))  # Output: "hELLO wORLD"

hELLO wORLD

In [46]:
# Question 29: Remove a specific word from a string.
def remove_word(s, word):
    return s.replace(word, "")

# Output:
print(remove_word("hello world", "world"))  # Output: "hello "

hello

In [47]:
# Question 30: Check if a string is a valid email address.
import re

def is_valid_email(s):
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern, s) is not None

# Output:
print(is_valid_email("test@example.com"))  # Output: True
print(is_valid_email("test@.com"))  # Output: False

True
False

In [48]:
# Question 31: Extract the username from an email address string.
def extract_username(email):
    return email.split('@')[0]

# Output:
print(extract_username("user@example.com"))  # Output: "user"

user

In [49]:
# Question 32: Extract the domain name from an email address string.
def extract_domain(email):
    return email.split('@')[1]

# Output:
print(extract_domain("user@example.com"))  # Output: "example.com"

example.com

In [50]:
# Question 33: Replace multiple spaces in a string with a single space.
def replace_multiple_spaces(s):
    return ' '.join(s.split())

# Output:
print(replace_multiple_spaces("hello    world  "))  # Output: "hello world"

hello world

In [51]:
# Question 34: Check if a string is a valid URL.
import re

def is_valid_url(s):
    pattern = r'^(http://|https://)?(www\.)?[\w\-]+\.[a-zA-Z]{2,6}(/[\w\-]*)*$'
    return re.match(pattern, s) is not None

# Output:
print(is_valid_url("https://www.example.com"))  # Output: True
print(is_valid_url("example"))  # Output: False

True
False

In [52]:
# Question 35: Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    if url.startswith("https://"):
        return "https"
    elif url.startswith("http://"):
        return "http"
    return None

# Output:
print(extract_protocol("https://www.example.com"))  # Output: "https"
print(extract_protocol("http://www.example.com"))  # Output: "http"

https
http

In [53]:
# Question 36: Find the frequency of each character in a string.
from collections import Counter

def character_frequency(s):
    return dict(Counter(s))

# Output:
print(character_frequency("hello"))  # Output: {'h': 1, 'e': 1, 'l': 2, 'o': 1}

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [54]:
# Question 37: Remove all punctuation from a string.
import string

def remove_punctuation(s):
    return s.translate(str.maketrans('', '', string.punctuation))

# Output:
print(remove_punctuation("hello, world!"))  # Output: "hello world"

hello world

In [55]:
# Question 38: Check if a string contains only digits.
def is_only_digits(s):
    return s.isdigit()

# Output:
print(is_only_digits("12345"))  # Output: True
print(is_only_digits("123a5"))  # Output: False

True
False

In [56]:
# Question 39: Check if a string contains only alphabets.
def is_only_alphabets(s):
    return s.isalpha()

# Output:
print(is_only_alphabets("hello"))  # Output: True
print(is_only_alphabets("hello123"))  # Output: False

True
False

In [57]:
# Question 40: Convert a string to a list of characters.
def string_to_char_list(s):
    return list(s)

# Output:
print(string_to_char_list("hello"))  # Output: ['h', 'e', 'l', 'l', 'o']

['h', 'e', 'l', 'l', 'o']

In [58]:
# Question 41: Check if two strings are anagrams.
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

# Output:
print(are_anagrams("listen", "silent"))  # Output: True
print(are_anagrams("hello", "world"))  # Output: False

True
False

In [59]:
# Question 42: Encode a string using a Caesar cipher.
def caesar_cipher_encode(s, shift):
    result = []
    for char in s:
        if char.isalpha():
            shift_amount = shift % 26
            base = ord('A') if char.isupper() else ord('a')
            result.append(chr((ord(char) - base + shift_amount) % 26 + base))
        else:
            result.append(char)
    return ''.join(result)

# Output:
print(caesar_cipher_encode("hello", 3))  # Output: "khoor"

khoor

In [60]:
# Question 43: Decode a Caesar cipher encoded string.
def caesar_cipher_decode(s, shift):
    return caesar_cipher_encode(s, -shift)

# Output:
print(caesar_cipher_decode("khoor", 3))  # Output: "hello"

hello

In [61]:
# Question 44: Find the most frequent word in a string.
from collections import Counter

def most_frequent_word(s):
    words = s.split()
    return Counter(words).most_common(1)[0][0]

# Output:
print(most_frequent_word("hello world hello"))  # Output: "hello"

hello

In [62]:
# Question 45: Find all unique words in a string.
def unique_words(s):
    words = s.split()
    return set(words)

# Output:
print(unique_words("hello world hello"))  # Output: {"hello", "world"}

{'hello', 'world'}

In [63]:
# Question 46: Count the number of syllables in a string.
# This is a simplified version; accurate syllable counting is complex.
def count_syllables(s):
    vowels = "aeiouAEIOU"
    count = 0
    in_vowel_sequence = False
    for char in s:
        if char in vowels:
            if not in_vowel_sequence:
                count += 1
                in_vowel_sequence = True
        else:
            in_vowel_sequence = False
    return count

# Output:
print(count_syllables("hello world"))  # Output: 3

3

In [64]:
# Question 47: Check if a string contains any special characters.
import string

def contains_special_characters(s):
    return any(char in string.punctuation for char in s)

# Output:
print(contains_special_characters("hello@world"))  # Output: True
print(contains_special_characters("helloworld"))  # Output: False

True
False

In [65]:
# Question 48: Remove the nth word from a string.
def remove_nth_word(s, n):
    words = s.split()
    if 0 < n <= len(words):
        del words[n-1]
    return ' '.join(words)

# Output:
print(remove_nth_word("hello wonderful world", 2))  # Output: "hello world"

hello world

In [66]:
# Question 49: Insert a word at the nth position in a string.
def insert_word_at(s, word, n):
    words = s.split()
    words.insert(n-1, word)
    return ' '.join(words)

# Output:
print(insert_word_at("hello world", "wonderful", 2))  # Output: "hello wonderful world"

hello wonderful world

In [67]:
# Question 50: Convert a CSV string to a list of lists.
import csv
from io import StringIO

def csv_to_list_of_lists(csv_string):
    f = StringIO(csv_string)
    reader = csv.reader(f, delimiter=',')
    return [row for row in reader]

# Output:
print(csv_to_list_of_lists("name,age,city\nJohn,30,New York\nJane,25,Los Angeles"))
# Output: [['name', 'age', 'city'], ['John', '30', 'New York'], ['Jane', '25', 'Los Angeles']]

[['name', 'age', 'city'], ['John', '30', 'New York'], ['Jane', '25', 'Los Angeles']]

## **List Based Practice Problem :**

In [68]:
# Question 1: Create a list with integers from 1 to 10.
numbers = list(range(1, 11))

# Output:
print(numbers)  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
# Question 2: Find the length of a list without using the len() function.
def find_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

# Output:
print(find_length([1, 2, 3, 4, 5]))  # Output: 5

5

In [70]:
# Question 3: Append an element to the end of a list.
def append_element(lst, element):
    lst.append(element)
    return lst

# Output:
print(append_element([1, 2, 3], 4))  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [71]:
# Question 4: Insert an element at a specific index in a list.
def insert_element(lst, element, index):
    lst.insert(index, element)
    return lst

# Output:
print(insert_element([1, 2, 3, 5], 4, 3))  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [72]:
# Question 5: Remove an element from a list by its value.
def remove_by_value(lst, value):
    if value in lst:
        lst.remove(value)
    return lst

# Output:
print(remove_by_value([1, 2, 3, 4], 3))  # Output: [1, 2, 4]

[1, 2, 4]

In [73]:
# Question 6: Remove an element from a list by its index.
def remove_by_index(lst, index):
    if 0 <= index < len(lst):
        del lst[index]
    return lst

# Output:
print(remove_by_index([1, 2, 3, 4], 2))  # Output: [1, 2, 4]

[1, 2, 4]

In [74]:
# Question 7: Check if an element exists in a list.
def exists_in_list(lst, element):
    return element in lst

# Output:
print(exists_in_list([1, 2, 3, 4], 3))  # Output: True
print(exists_in_list([1, 2, 3, 4], 5))  # Output: False

True
False

In [75]:
# Question 8: Find the index of the first occurrence of an element in a list.
def index_of_element(lst, element):
    if element in lst:
        return lst.index(element)
    return -1  # Return -1 if the element is not found

# Output:
print(index_of_element([1, 2, 3, 2], 2))  # Output: 1

1

In [76]:
# Question 9: Count the occurrences of an element in a list.
def count_occurrences(lst, element):
    return lst.count(element)

# Output:
print(count_occurrences([1, 2, 3, 2], 2))  # Output: 2

2

In [77]:
# Question 10: Reverse the order of elements in a list.
def reverse_list(lst):
    lst.reverse()
    return lst

# Output:
print(reverse_list([1, 2, 3, 4]))  # Output: [4, 3, 2, 1]

[4, 3, 2, 1]

In [78]:
# Question 11: Sort a list in ascending order.
def sort_ascending(lst):
    return sorted(lst)

# Output:
print(sort_ascending([5, 2, 9, 1, 5, 6]))  # Output: [1, 2, 5, 5, 6, 9]

[1, 2, 5, 5, 6, 9]

In [79]:
# Question 12: Sort a list in descending order.
def sort_descending(lst):
    return sorted(lst, reverse=True)

# Output:
print(sort_descending([5, 2, 9, 1, 5, 6]))  # Output: [9, 6, 5, 5, 2, 1]

[9, 6, 5, 5, 2, 1]

In [80]:
# Question 13: Create a list of even numbers from 1 to 20.
even_numbers = [num for num in range(1, 21) if num % 2 == 0]

# Output:
print(even_numbers)  # Output: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [81]:
# Question 14: Create a list of odd numbers from 1 to 20.
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]

# Output:
print(odd_numbers)  # Output: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [82]:
# Question 15: Find the sum of all elements in a list.
def sum_of_elements(lst):
    return sum(lst)

# Output:
print(sum_of_elements([1, 2, 3, 4, 5]))  # Output: 15

15

In [83]:
# Question 16: Find the maximum value in a list.
def max_value(lst):
    return max(lst)

# Output:
print(max_value([1, 2, 3, 4, 5]))  # Output: 5

5

In [84]:
# Question 17: Find the minimum value in a list.
def min_value(lst):
    return min(lst)

# Output:
print(min_value([1, 2, 3, 4, 5]))  # Output: 1

1

In [85]:
# Question 18: Create a list of squares of numbers from 1 to 10.
squares = [num ** 2 for num in range(1, 11)]

# Output:
print(squares)  # Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [86]:
# Question 19: Create a list of random numbers.
import random

def random_numbers(size, range_start, range_end):
    return [random.randint(range_start, range_end) for _ in range(size)]

# Output:
print(random_numbers(5, 1, 100))  # Output: [e.g., [52, 87, 25, 63, 41]]

[68, 83, 39, 40, 79]

In [87]:
# Question 20: Remove duplicates from a list.
def remove_duplicates(lst):
    return list(set(lst))

# Output:
print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [88]:
# Question 21: Find the common elements between two lists.
def common_elements(lst1, lst2):
    return list(set(lst1) & set(lst2))

# Output:
print(common_elements([1, 2, 3, 4], [3, 4, 5, 6]))  # Output: [3, 4]

[3, 4]

In [89]:
# Question 22: Find the difference between two lists.
def list_difference(lst1, lst2):
    return list(set(lst1) - set(lst2))

# Output:
print(list_difference([1, 2, 3, 4], [3, 4, 5, 6]))  # Output: [1, 2]

[1, 2]

In [90]:
# Question 23: Merge two lists.
def merge_lists(lst1, lst2):
    return lst1 + lst2

# Output:
print(merge_lists([1, 2, 3], [4, 5, 6]))  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [91]:
# Question 24: Multiply all elements in a list by 2.
def multiply_by_two(lst):
    return [x * 2 for x in lst]

# Output:
print(multiply_by_two([1, 2, 3]))  # Output: [2, 4, 6]

[2, 4, 6]

In [92]:
# Question 25: Filter out all even numbers from a list.
def filter_even_numbers(lst):
    return [x for x in lst if x % 2 != 0]

# Output:
print(filter_even_numbers([1, 2, 3, 4, 5]))  # Output: [1, 3, 5]

[1, 3, 5]

In [93]:
# Question 26: Convert a list of strings to a list of integers.
def strings_to_integers(lst):
    return [int(x) for x in lst]

# Output:
print(strings_to_integers(["1", "2", "3"]))  # Output: [1, 2, 3]

[1, 2, 3]

In [94]:
# Question 27: Convert a list of integers to a list of strings.
def integers_to_strings(lst):
    return [str(x) for x in lst]

# Output:
print(integers_to_strings([1, 2, 3]))  # Output: ["1", "2", "3"]

['1', '2', '3']

In [95]:
# Question 28: Flatten a nested list.
def flatten_list(nested_lst):
    flat_lst = []
    for elem in nested_lst:
        if isinstance(elem, list):
            flat_lst.extend(flatten_list(elem))
        else:
            flat_lst.append(elem)
    return flat_lst

# Output:
print(flatten_list([[1, 2], [3, [4, 5]], 6]))  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [96]:
# Question 29: Create a list of the first 10 Fibonacci numbers.
def fibonacci_list(n):
    fibs = [0, 1]
    while len(fibs) < n:
        fibs.append(fibs[-1] + fibs[-2])
    return fibs

# Output:
print(fibonacci_list(10))  # Output: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [97]:
# Question 30: Check if a list is sorted.
def is_sorted(lst):
    return lst == sorted(lst)

# Output:
print(is_sorted([1, 2, 3, 4]))  # Output: True
print(is_sorted([4, 3, 2, 1]))  # Output: False

True
False

In [98]:
# Question 31: Rotate a list to the left by n positions.
def rotate_left(lst, n):
    return lst[n:] + lst[:n]

# Output:
print(rotate_left([1, 2, 3, 4, 5], 2))  # Output: [3, 4, 5, 1, 2]

[3, 4, 5, 1, 2]

In [99]:
# Question 32: Rotate a list to the right by n positions.
def rotate_right(lst, n):
    return lst[-n:] + lst[:-n]

# Output:
print(rotate_right([1, 2, 3, 4, 5], 2))  # Output: [4, 5, 1, 2, 3]

[4, 5, 1, 2, 3]

In [100]:
# Question 33: Create a list of prime numbers up to 50.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def prime_numbers(limit):
    return [num for num in range(2, limit + 1) if is_prime(num)]

# Output:
print(prime_numbers(50))  # Output: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [101]:
# Question 34: Split a list into chunks of size n.
def split_into_chunks(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

# Output:
print(split_into_chunks([1, 2, 3, 4, 5, 6], 2))  # Output: [[1, 2], [3, 4], [5, 6]]

[[1, 2], [3, 4], [5, 6]]

In [102]:
# Question 35: Find the second largest number in a list.
def second_largest(lst):
    first, second = float('-inf'), float('-inf')
    for num in lst:
        if num > first:
            second = first
            first = num
        elif first > num > second:
            second = num
    return second if second != float('-inf') else None

# Output:
print(second_largest([1, 2, 3, 4, 5]))  # Output: 4

4

In [103]:
# Question 36: Replace every element in a list with its square.
def square_elements(lst):
    return [x ** 2 for x in lst]

# Output:
print(square_elements([1, 2, 3]))  # Output: [1, 4, 9]

[1, 4, 9]

In [104]:
# Question 37: Convert a list to a dictionary where list elements become keys and their indices become values.
def list_to_dict(lst):
    return {item: index for index, item in enumerate(lst)}

# Output:
print(list_to_dict(["a", "b", "c"]))  # Output: {'a': 0, 'b': 1, 'c': 2}

{'a': 0, 'b': 1, 'c': 2}

In [105]:
# Question 38: Shuffle the elements of a list randomly.
import random

def shuffle_list(lst):
    random.shuffle(lst)
    return lst

# Output:
print(shuffle_list([1, 2, 3, 4, 5]))  # Output: [e.g., [3, 5, 1, 4, 2]]

[1, 4, 2, 5, 3]

In [106]:
# Question 39: Create a list of the first 10 factorial numbers.
import math

def factorial_list(n):
    return [math.factorial(i) for i in range(n)]

# Output:
print(factorial_list(10))  # Output: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [107]:
# Question 40: Check if two lists have at least one element in common.
def have_common_element(lst1, lst2):
    return any(elem in lst2 for elem in lst1)

# Output:
print(have_common_element([1, 2, 3], [4, 5, 3]))  # Output: True
print(have_common_element([1, 2, 3], [4, 5, 6]))  # Output: False

True
False

In [108]:
# Question 41: Remove all elements from a list.
def clear_list(lst):
    lst.clear()
    return lst

# Output:
print(clear_list([1, 2, 3]))  # Output: []

[]

In [109]:
# Question 42: Replace negative numbers in a list with 0.
def replace_negatives(lst):
    return [0 if x < 0 else x for x in lst]

# Output:
print(replace_negatives([1, -2, 3, -4]))  # Output: [1, 0, 3, 0]

[1, 0, 3, 0]

In [110]:
# Question 43: Convert a string into a list of words.
def string_to_words(s):
    return s.split()

# Output:
print(string_to_words("Hello world, how are you?"))  # Output: ['Hello', 'world,', 'how', 'are', 'you?']

['Hello', 'world,', 'how', 'are', 'you?']

In [111]:
# Question 44: Convert a list of words into a string.
def words_to_string(lst):
    return ' '.join(lst)

# Output:
print(words_to_string(['Hello', 'world', 'how', 'are', 'you?']))  # Output: "Hello world how are you?"

Hello world how are you?

In [112]:
# Question 45: Create a list of the first n powers of 2.
def powers_of_two(n):
    return [2 ** i for i in range(n)]

# Output:
print(powers_of_two(5))  # Output: [1, 2, 4, 8, 16]

[1, 2, 4, 8, 16]

In [113]:
# Question 46: Find the longest string in a list of strings.
def longest_string(lst):
    return max(lst, key=len)

# Output:
print(longest_string(["apple", "banana", "cherry"]))  # Output: "banana"

banana

In [114]:
# Question 47: Find the shortest string in a list of strings.
def shortest_string(lst):
    return min(lst, key=len)

# Output:
print(shortest_string(["apple", "banana", "cherry"]))  # Output: "apple"

apple

In [115]:
# Question 48: Create a list of the first n triangular numbers.
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Output:
print(triangular_numbers(5))  # Output: [1, 3, 6, 10, 15]

[1, 3, 6, 10, 15]

In [116]:
# Question 49: Check if a list contains another list as a subsequence.
def contains_subsequence(lst, subseq):
    it = iter(lst)
    return all(item in it for item in subseq)

# Output:
print(contains_subsequence([1, 2, 3, 4, 5], [2, 4]))  # Output: True
print(contains_subsequence([1, 2, 3, 4, 5], [2, 5, 1]))  # Output: False

True
False

In [117]:
# Question 50: Swap two elements in a list by their indices.
def swap_elements(lst, index1, index2):
    lst[index1], lst[index2] = lst[index2], lst[index1]
    return lst

# Output:
print(swap_elements([1, 2, 3, 4], 1, 3))  # Output: [1, 4, 3, 2]

[1, 4, 3, 2]

# **Tuple Based Practice Problem :**

In [118]:
# Question 1: Create a tuple with integers from 1 to 5.
my_tuple = (1, 2, 3, 4, 5)

# Output:
print(my_tuple)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [119]:
# Question 2: Access the third element of a tuple.
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]

# Output:
print(third_element)  # Output: 3

3

In [120]:
# Question 3: Find the length of a tuple without using the len() function.
def tuple_length(t):
    count = 0
    for _ in t:
        count += 1
    return count

# Output:
print(tuple_length((1, 2, 3, 4, 5)))  # Output: 5

5

In [121]:
# Question 4: Count the occurrences of an element in a tuple.
my_tuple = (1, 2, 2, 3, 4, 2, 5)
element_count = my_tuple.count(2)

# Output:
print(element_count)  # Output: 3

3

In [122]:
# Question 5: Find the index of the first occurrence of an element in a tuple.
my_tuple = (1, 2, 3, 2, 4)
index_of_element = my_tuple.index(2)

# Output:
print(index_of_element)  # Output: 1

1

In [123]:
# Question 6: Check if an element exists in a tuple.
my_tuple = (1, 2, 3, 4, 5)
exists = 3 in my_tuple

# Output:
print(exists)  # Output: True

True

In [124]:
# Question 7: Convert a tuple to a list.
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)

# Output:
print(my_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [125]:
# Question 8: Convert a list to a tuple.
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)

# Output:
print(my_tuple)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [126]:
# Question 9: Unpack the elements of a tuple into variables.
my_tuple = (1, 2, 3)
a, b, c = my_tuple

# Output:
print(a, b, c)  # Output: 1 2 3

1 2 3

In [127]:
# Question 10: Create a tuple of even numbers from 1 to 10.
even_tuple = (2, 4, 6, 8, 10)

# Output:
print(even_tuple)  # Output: (2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

In [128]:
# Question 11: Create a tuple of odd numbers from 1 to 10.
odd_tuple = (1, 3, 5, 7, 9)

# Output:
print(odd_tuple)  # Output: (1, 3, 5, 7, 9)

(1, 3, 5, 7, 9)

In [129]:
# Question 12: Concatenate two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2

# Output:
print(concatenated_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [130]:
# Question 13: Repeat a tuple three times.
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3

# Output:
print(repeated_tuple)  # Output: (1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [131]:
# Question 14: Check if a tuple is empty.
empty_tuple = ()
non_empty_tuple = (1,)

# Output:
print(len(empty_tuple) == 0)  # Output: True
print(len(non_empty_tuple) == 0)  # Output: False

True
False

In [132]:
# Question 15: Create a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))

# Output:
print(nested_tuple)  # Output: ((1, 2), (3, 4), (5, 6))

((1, 2), (3, 4), (5, 6))

In [133]:
# Question 16: Access the first element of a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element = nested_tuple[0]

# Output:
print(first_element)  # Output: (1, 2)

(1, 2)

In [134]:
# Question 17: Create a tuple with a single element.
single_element_tuple = (1,)

# Output:
print(single_element_tuple)  # Output: (1,)

(1,)

In [135]:
# Question 18: Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (1, 2, 4)

# Output:
print(tuple1 == tuple2)  # Output: True
print(tuple1 == tuple3)  # Output: False

True
False

In [136]:
# Question 19: Delete a tuple.
my_tuple = (1, 2, 3)
del my_tuple

# Output:
# print(my_tuple)  # Uncommenting this line will raise a NameError because the tuple is deleted

In [137]:
# Question 20: Slice a tuple.
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]

# Output:
print(sliced_tuple)  # Output: (2, 3, 4)

(2, 3, 4)

In [138]:
# Question 21: Find the maximum value in a tuple.
my_tuple = (1, 2, 3, 4, 5)
max_value = max(my_tuple)

# Output:
print(max_value)  # Output: 5

5

In [139]:
# Question 22: Find the minimum value in a tuple.
my_tuple = (1, 2, 3, 4, 5)
min_value = min(my_tuple)

# Output:
print(min_value)  # Output: 1

1

In [140]:
# Question 23: Convert a string to a tuple of characters.
my_string = "hello"
char_tuple = tuple(my_string)

# Output:
print(char_tuple)  # Output: ('h', 'e', 'l', 'l', 'o')

('h', 'e', 'l', 'l', 'o')

In [141]:
# Question 24: Convert a tuple of characters to a string.
char_tuple = ('h', 'e', 'l', 'l', 'o')
my_string = ''.join(char_tuple)

# Output:
print(my_string)  # Output: "hello"

hello

In [142]:
# Question 25: Create a tuple from multiple data types.
mixed_tuple = (1, "hello", 3.14, True)

# Output:
print(mixed_tuple)  # Output: (1, 'hello', 3.14, True)

(1, 'hello', 3.14, True)

In [143]:
# Question 26: Check if two tuples are identical.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (1, 2, 4)

# Output:
print(tuple1 == tuple2)  # Output: True
print(tuple1 == tuple3)  # Output: False

True
False

In [144]:
# Question 27: Sort the elements of a tuple.
my_tuple = (5, 2, 3, 1, 4)
sorted_tuple = tuple(sorted(my_tuple))

# Output:
print(sorted_tuple)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [145]:
# Question 28: Convert a tuple of integers to a tuple of strings.
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(map(str, int_tuple))

# Output:
print(str_tuple)  # Output: ('1', '2', '3', '4', '5')

('1', '2', '3', '4', '5')

In [146]:
# Question 29: Convert a tuple of strings to a tuple of integers.
str_tuple = ('1', '2', '3', '4', '5')
int_tuple = tuple(map(int, str_tuple))

# Output:
print(int_tuple)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [147]:
# Question 30: Merge two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2

# Output:
print(merged_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [148]:
# Question 31: Flatten a nested tuple.
def flatten_tuple(t):
    result = []
    for item in t:
        if isinstance(item, tuple):
            result.extend(flatten_tuple(item))
        else:
            result.append(item)
    return tuple(result)

nested_tuple = ((1, 2), (3, (4, 5)), 6)
flattened_tuple = flatten_tuple(nested_tuple)

# Output:
print(flattened_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [149]:
# Question 32: Create a tuple of the first 5 prime numbers.
def first_n_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                break
        else:
            primes.append(num)
        num += 1
    return tuple(primes)

prime_tuple = first_n_primes(5)

# Output:
print(prime_tuple)  # Output: (2, 3, 5, 7, 11)

(2, 3, 5, 7, 11)

In [150]:
# Question 33: Check if a tuple is a palindrome.
def is_palindrome(t):
    return t == t[::-1]

# Output:
print(is_palindrome((1, 2, 3, 2, 1)))  # Output: True
print(is_palindrome((1, 2, 3, 4, 5)))  # Output: False

True
False

In [151]:
# Question 34: Create a tuple of squares of numbers from 1 to 5.
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Output:
print(squares_tuple)  # Output: (1, 4, 9, 16, 25)

(1, 4, 9, 16, 25)

In [152]:
# Question 35: Filter out all even numbers from a tuple.
def filter_even(t):
    return tuple(x for x in t if x % 2 != 0)

my_tuple = (1, 2, 3, 4, 5)
filtered_tuple = filter_even(my_tuple)

# Output:
print(filtered_tuple)  # Output: (1, 3, 5)

(1, 3, 5)

In [153]:
# Question 36: Multiply all elements in a tuple by 2.
def multiply_by_two(t):
    return tuple(x * 2 for x in t)

my_tuple = (1, 2, 3, 4, 5)
multiplied_tuple = multiply_by_two(my_tuple)

# Output:
print(multiplied_tuple)  # Output: (2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

In [154]:
# Question 37: Create a tuple of random numbers.
import random

# Create a tuple of 5 random numbers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

# Output:
print(random_tuple)  # Output: e.g., (34, 67, 23, 89, 45)

(53, 68, 87, 35, 10)

In [155]:
# Question 38: Check if a tuple is sorted.
def is_sorted(t):
    return t == tuple(sorted(t))

# Output:
print(is_sorted((1, 2, 3, 4, 5)))  # Output: True
print(is_sorted((5, 3, 1, 4, 2)))  # Output: False

True
False

In [156]:
# Question 39: Rotate a tuple to the left by n positions.
def rotate_left(t, n):
    n = n % len(t)  # Handle rotation greater than tuple length
    return t[n:] + t[:n]

# Output:
print(rotate_left((1, 2, 3, 4, 5), 2))  # Output: (3, 4, 5, 1, 2)

(3, 4, 5, 1, 2)

In [157]:
# Question 40: Rotate a tuple to the right by n positions.
def rotate_right(t, n):
    n = n % len(t)  # Handle rotation greater than tuple length
    return t[-n:] + t[:-n]

# Output:
print(rotate_right((1, 2, 3, 4, 5), 2))  # Output: (4, 5, 1, 2, 3)

(4, 5, 1, 2, 3)

In [158]:
# Question 41: Create a tuple of the first 5 Fibonacci numbers.
def fibonacci(n):
    a, b = 0, 1
    result = []
    for _ in range(n):
        result.append(a)
        a, b = b, a + b
    return tuple(result)

fibonacci_tuple = fibonacci(5)

# Output:
print(fibonacci_tuple)  # Output: (0, 1, 1, 2, 3)

(0, 1, 1, 2, 3)

In [159]:
# Question 42: Create a tuple from user input.
user_input = input("Enter values separated by commas: ")
user_tuple = tuple(user_input.split(','))

# Output:
print(user_tuple)  # Output: e.g., ('apple', 'banana', 'cherry')

Enter values separated by commas: apple
('apple',)

In [160]:
# Question 43: Swap two elements in a tuple.
def swap_elements(t, index1, index2):
    t_list = list(t)
    t_list[index1], t_list[index2] = t_list[index2], t_list[index1]
    return tuple(t_list)

# Output:
print(swap_elements((1, 2, 3, 4), 0, 2))  # Output: (3, 2, 1, 4)

(3, 2, 1, 4)

In [161]:
# Question 44: Reverse the elements of a tuple.
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]

# Output:
print(reversed_tuple)  # Output: (5, 4, 3, 2, 1)

(5, 4, 3, 2, 1)

In [162]:
# Question 45: Create a tuple of the first n powers of 2.
def powers_of_two(n):
    return tuple(2 ** i for i in range(n))

# Output:
print(powers_of_two(5))  # Output: (1, 2, 4, 8, 16)

(1, 2, 4, 8, 16)

In [163]:
# Question 46: Find the longest string in a tuple of strings.
string_tuple = ('apple', 'banana', 'cherry', 'date')
longest_string = max(string_tuple, key=len)

# Output:
print(longest_string)  # Output: 'banana'

banana

In [164]:
# Question 47: Find the shortest string in a tuple of strings.
string_tuple = ('apple', 'banana', 'cherry', 'date')
shortest_string = min(string_tuple, key=len)

# Output:
print(shortest_string)  # Output: 'date'

date

In [165]:
# Question 48: Create a tuple of the first n triangular numbers.
def triangular_numbers(n):
    return tuple(sum(range(1, i + 1)) for i in range(1, n + 1))

# Output:
print(triangular_numbers(5))  # Output: (1, 3, 6, 10, 15)

(1, 3, 6, 10, 15)

In [166]:
# Question 49: Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(t, sub):
    sub_len = len(sub)
    for i in range(len(t) - sub_len + 1):
        if t[i:i + sub_len] == sub:
            return True
    return False

# Output:
print(contains_subsequence((1, 2, 3, 4, 5), (2, 3)))  # Output: True
print(contains_subsequence((1, 2, 3, 4, 5), (2, 4)))  # Output: False

True
False

In [167]:
# Question 50: Create a tuple of alternating 1s and 0s of length n.
def alternating_tuple(n):
    return tuple(i % 2 for i in range(n))

# Output:
print(alternating_tuple(6))  # Output: (0, 1, 0, 1, 0, 1)

(0, 1, 0, 1, 0, 1)

# **Set Based Practice Problem :**

In [168]:
# Question 1: Create a set with integers from 1 to 5.
my_set = {1, 2, 3, 4, 5}

# Output:
print(my_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [169]:
# Question 2: Add an element to a set.
my_set = {1, 2, 3}
my_set.add(4)

# Output:
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [170]:
# Question 3: Remove an element from a set.
my_set = {1, 2, 3, 4}
my_set.remove(2)

# Output:
print(my_set)  # Output: {1, 3, 4}

{1, 3, 4}

In [171]:
# Question 4: Check if an element exists in a set.
my_set = {1, 2, 3, 4}
exists = 3 in my_set

# Output:
print(exists)  # Output: True

True

In [172]:
# Question 5: Find the length of a set without using the len() function.
def set_length(s):
    count = 0
    for _ in s:
        count += 1
    return count

my_set = {1, 2, 3, 4}
length = set_length(my_set)

# Output:
print(length)  # Output: 4

4

In [173]:
# Question 6: Clear all elements from a set.
my_set = {1, 2, 3, 4}
my_set.clear()

# Output:
print(my_set)  # Output: set()

set()

In [174]:
# Question 7: Create a set of even numbers from 1 to 10.
even_set = {x for x in range(1, 11) if x % 2 == 0}

# Output:
print(even_set)  # Output: {2, 4, 6, 8, 10}

{2, 4, 6, 8, 10}

In [175]:
# Question 8: Create a set of odd numbers from 1 to 10.
odd_set = {x for x in range(1, 11) if x % 2 != 0}

# Output:
print(odd_set)  # Output: {1, 3, 5, 7, 9}

{1, 3, 5, 7, 9}

In [176]:
# Question 9: Find the union of two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)

# Output:
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [177]:
# Question 10: Find the intersection of two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)

# Output:
print(intersection_set)  # Output: {3}

{3}

In [178]:
# Question 11: Find the difference between two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)

# Output:
print(difference_set)  # Output: {1, 2}

{1, 2}

In [179]:
# Question 12: Check if a set is a subset of another set.
set1 = {1, 2}
set2 = {1, 2, 3}
is_subset = set1.issubset(set2)

# Output:
print(is_subset)  # Output: True

True

In [180]:
# Question 13: Check if a set is a superset of another set.
set1 = {1, 2, 3}
set2 = {1, 2}
is_superset = set1.issuperset(set2)

# Output:
print(is_superset)  # Output: True

True

In [181]:
# Question 14: Create a set from a list.
my_list = [1, 2, 2, 3, 4, 4]
my_set = set(my_list)

# Output:
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [182]:
# Question 15: Convert a set to a list.
my_set = {1, 2, 3, 4}
my_list = list(my_set)

# Output:
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [183]:
# Question 16: Remove a random element from a set.
import random

my_set = {1, 2, 3, 4, 5}
if my_set:
    random_element = random.choice(tuple(my_set))
    my_set.remove(random_element)

# Output:
print(my_set)  # Output: e.g., {1, 2, 3, 5}

{1, 3, 4, 5}

In [185]:
# Question 17: Pop an element from a set.
my_set = {1, 2, 3, 4}
popped_element = my_set.pop()

# Output:
print(popped_element)  # Output: e.g., 1 (randomly popped element)
print(my_set)  # Output: e.g., {2, 3, 4}

1
{2, 3, 4}

In [186]:
# Question 18: Check if two sets have no elements in common.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common_elements = set1.isdisjoint(set2)

# Output:
print(no_common_elements)  # Output: True

True

In [187]:
# Question 19: Find the symmetric difference between two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference = set1.symmetric_difference(set2)

# Output:
print(symmetric_difference)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

In [188]:
# Question 20: Update a set with elements from another set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)

# Output:
print(set1)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [189]:
# Question 21: Create a set of the first 5 prime numbers.
primes = {2, 3, 5, 7, 11}

# Output:
print(primes)  # Output: {2, 3, 5, 7, 11}

{2, 3, 5, 7, 11}

In [190]:
# Question 22: Check if two sets are identical.
set1 = {1, 2, 3}
set2 = {3, 2, 1}
identical = set1 == set2

# Output:
print(identical)  # Output: True

True

In [191]:
# Question 23: Create a frozen set.
frozen_set = frozenset([1, 2, 3, 4])

# Output:
print(frozen_set)  # Output: frozenset({1, 2, 3, 4})

frozenset({1, 2, 3, 4})

In [192]:
# Question 24: Check if a set is disjoint with another set.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_disjoint = set1.isdisjoint(set2)

# Output:
print(is_disjoint)  # Output: True

True

In [193]:
# Question 25: Create a set of squares of numbers from 1 to 5.
squares = {x**2 for x in range(1, 6)}

# Output:
print(squares)  # Output: {1, 4, 9, 16, 25}

{1, 4, 9, 16, 25}

In [194]:
# Question 26: Filter out all even numbers from a set.
my_set = {1, 2, 3, 4, 5}
odd_numbers = {x for x in my_set if x % 2 != 0}

# Output:
print(odd_numbers)  # Output: {1, 3, 5}

{1, 3, 5}

In [195]:
# Question 27: Multiply all elements in a set by 2.
my_set = {1, 2, 3}
multiplied_set = {x * 2 for x in my_set}

# Output:
print(multiplied_set)  # Output: {2, 4, 6}

{2, 4, 6}

In [196]:
# Question 28: Create a set of random numbers.
import random

random_set = {random.randint(1, 100) for _ in range(5)}

# Output:
print(random_set)  # Output: e.g., {12, 45, 78, 56, 89}

{43, 66, 83, 90}

In [197]:
# Question 29: Check if a set is empty.
my_set = set()
is_empty = not bool(my_set)

# Output:
print(is_empty)  # Output: True

True

In [198]:
# Question 30: Create a nested set (hint: use frozenset).
nested_set = frozenset({1, 2, frozenset({3, 4})})

# Output:
print(nested_set)  # Output: frozenset({1, 2, frozenset({3, 4})})

frozenset({frozenset({3, 4}), 1, 2})

In [199]:
# Question 31: Remove an element from a set using the discard method.
my_set = {1, 2, 3, 4}
my_set.discard(3)

# Output:
print(my_set)  # Output: {1, 2, 4}

{1, 2, 4}

In [200]:
# Question 32: Compare two sets.
set1 = {1, 2, 3}
set2 = {1, 2, 3}
are_equal = set1 == set2

# Output:
print(are_equal)  # Output: True

True

In [201]:
# Question 33: Create a set from a string.
my_string = "hello"
my_set = set(my_string)

# Output:
print(my_set)  # Output: {'h', 'e', 'l', 'o'}

{'l', 'e', 'h', 'o'}

In [202]:
# Question 34: Convert a set of strings to a set of integers.
string_set = {'1', '2', '3'}
int_set = {int(x) for x in string_set}

# Output:
print(int_set)  # Output: {1, 2, 3}

{1, 2, 3}

In [203]:
# Question 35: Convert a set of integers to a set of strings.
int_set = {1, 2, 3}
string_set = {str(x) for x in int_set}

# Output:
print(string_set)  # Output: {'1', '2', '3'}

{'1', '2', '3'}

In [204]:
# Question 36: Create a set from a tuple.
my_tuple = (1, 2, 3, 4)
my_set = set(my_tuple)

# Output:
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [205]:
# Question 37: Convert a set to a tuple.
my_set = {1, 2, 3, 4}
my_tuple = tuple(my_set)

# Output:
print(my_tuple)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

In [206]:
# Question 38: Find the maximum value in a set.
my_set = {1, 2, 3, 4}
max_value = max(my_set)

# Output:
print(max_value)  # Output: 4

4

In [207]:
# Question 39: Find the minimum value in a set.
my_set = {1, 2, 3, 4}
min_value = min(my_set)

# Output:
print(min_value)  # Output: 1

1

In [210]:
# Question 40: Create a set from user input.
user_input = input("Enter numbers separated by spaces: ")
my_set = set(map(int, user_input.split()))

# Output:
print(my_set)  # Output: e.g., {1, 2, 3, 4}

Enter numbers separated by spaces: 12
{12}

In [211]:
# Question 41: Check if the intersection of two sets is empty.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_intersection_empty = set1.isdisjoint(set2)

# Output:
print(is_intersection_empty)  # Output: True

True

In [212]:
# Question 42: Create a set of the first 5 Fibonacci numbers.
def fibonacci(n):
    a, b = 0, 1
    fib_set = set()
    while len(fib_set) < n:
        fib_set.add(a)
        a, b = b, a + b
    return fib_set

fib_set = fibonacci(5)

# Output:
print(fib_set)  # Output: {0, 1, 2, 3, 5}

{0, 1, 2, 3, 5}

In [213]:
# Question 43: Remove duplicates from a list using sets.
my_list = [1, 2, 2, 3, 4, 4]
unique_set = set(my_list)

# Output:
print(unique_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [214]:
# Question 44: Check if two sets have the same elements, regardless of their count.
set1 = {1, 2, 3, 3}
set2 = {1, 2, 3}
have_same_elements = set1 == set2

# Output:
print(have_same_elements)  # Output: True

True

In [215]:
# Question 45: Create a set of the first n powers of 2.
n = 5
powers_of_two = {2**i for i in range(n)}

# Output:
print(powers_of_two)  # Output: {1, 2, 4, 8, 16}

{1, 2, 4, 8, 16}

In [216]:
# Question 46: Find the common elements between a set and a list.
my_set = {1, 2, 3, 4}
my_list = [3, 4, 5, 6]
common_elements = my_set.intersection(my_list)

# Output:
print(common_elements)  # Output: {3, 4}

{3, 4}

In [217]:
# Question 47: Create a set of the first n triangular numbers.
def triangular_numbers(n):
    return {i * (i + 1) // 2 for i in range(1, n + 1)}

triangular_set = triangular_numbers(5)

# Output:
print(triangular_set)  # Output: {1, 3, 6, 10, 15}

{1, 3, 6, 10, 15}

In [218]:
# Question 48: Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4}
set2 = {2, 3}
is_subset = set2.issubset(set1)

# Output:
print(is_subset)  # Output: True

True

In [219]:
# Question 49: Create a set of alternating 1s and 0s of length n.
n = 10
alternating_set = {i % 2 for i in range(n)}

# Output:
print(alternating_set)  # Output: {0, 1}

{0, 1}

In [220]:
# Question 50: Merge multiple sets into one.
set1 = {1, 2}
set2 = {3, 4}
set3 = {5, 6}
merged_set = set1.union(set2, set3)

# Output:
print(merged_set)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}